[submodule "thirdparty/kytea"]
	path = thirdparty/kytea
	url = https://github.com/neubig/kytea.git
[submodule "thirdparty/mecab"]
	path = thirdparty/mecab
	url = https://github.com/taku910/mecab.git
[submodule "thirdparty/vibrato"]
	path = thirdparty/vibrato
	url = https://github.com/daac-tools/vibrato.git
